@import "reset.css";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.wrapper__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rebeccapurple;
}

.insertion__btn,
.selection__btn,
.bubble__btn {
  border-radius: 20px;
  border: 3px solid #0f0f0f;
  background-color: #0f0f0f;
  color: #f0f0f0;
  margin-left: 15px;
}

.wrapper__grp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: yellow;
}

.num__grp {
  margin-left: 20px;
}
